
body {
    background-image: url("images/superviviente.jpg");
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
