body {
    margin: 0;
    padding: 60px 0 0 0;
}

#page {
    margin: 0px auto;
    width: 100%;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 35px 2px;
    background-color: #333;
    font-size: 20px;
    color: #FFFFFF;
}

#content {
    height: 100%;
    overflow: auto;
    padding: 0% 1% 0% 1%;
    width: 98%;
}

#content {
    height: 100%;
    overflow: auto;
    padding: 0% 1% 0% 1%;
    width: 98%;
}

.fcc-btn {
    background-color: #199319;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

body {
    background-color: #2f2f2f;
    background-size: cover;
    background-size: cover;
}
